<% include ./partials/header %>

  <section class="product-description">
    <h3>Painting Details</h3>
    <a href="/">Back to Gallery</a>
    <div class="product-container">
      <div>
        <img src="<%= painting.imagePath %>" alt="painting of <%= painting.title %>">
      </div>
      <div class="product-details">
        <ul>
          <li><%= painting.title %></li>
          <li><%= painting.medium %></li>
          <li><%= painting.size %></li>
        </ul>
        <div class="price-button">
          <p>£<%= painting.price %></p>
          <a href="/add-to-cart/<%= painting.id %>"><button>Buy</button></a>
        </div>
      </div>
    </div>

  </section>
  
<% include ./partials/footer %>