<% include ./partials/header %>

  <section>

    <div class="product-container">
      <div>
        <img src="<%= painting.imagePath %>" alt="painting of <%= painting.title %>">
      </div>
      <div class="product-details">
        <ul>
          <li><%= painting.title %></li>
          <li><%= painting.medium %></li>
          <li><%= painting.size %></li>
        </ul>
        <div class="price-button">
          <p>£<%= painting.price %></p>
          <button>Add to Cart</button>
        </div>
      </div>
    </div>

  </section>
  

<% include ./partials/footer %>