<% include ./partials/header %>

  <section>

    <div class="product-container">
      <div>
        <img src="<%= painting.imagePath %>" alt="painting of <%= painting.title %>">
      </div>
      <div class="product-details">
        <p><%= painting.title %></p>
        <p><%= painting.medium %></p>
        <p><%= painting.size %></p>
        <p><%= painting.price %></p>
      </div>
      <button>Add to Cart</button>
    </div>

  </section>
  

<% include ./partials/footer %>