<% include ./partials/header %>

  <img src="<%= painting.imagePath %>" alt="painting of <%= painting.title %>">

  <p><%= painting.title %></p>
  <p><%= painting.medium %></p>
  <p><%= painting.size %></p>
  <p><%= painting.price %></p>
  

<% include ./partials/footer %>